<div ng-controller="EventCtrl as eCtrl" ng-init="eCtrl.load()">
  <div class="row">
  <div class="pull-right" style="padding-bottom:40px">
    <button class="btn btn-warning btn-xs" ng-click="eCtrl.recents()">Recentes</button>
    <a href="#about">Próximos</a>
  </div>
  </div>
  <div infinite-scroll="eCtrl.scroll()" infinite-scroll-distance="3">
  <div class="media" ng-repeat="event in eCtrl.events">
    <div class="media-left">
        <a href="#">
          <img class="media-object" ng-src="{{event.photo}}" />
        </a>
      </div>
      <div class="media-body">
        <h2 class="media-heading"><a ng-href="/events/{{event.id}}">{{ event.title }}</a></h2>
        <h5>{{ event.date }} em {{ event.local }}</h5>
        <p>{{ event.description }}</p>
        <span><a>Criado a {{ event.created_at }}</a></span><br>
        <a href="#" ng-click="eCtrl.confirm(event.id)">
          <i class="fa fa-2x fa-check-circle-o" ng-class="{confirm: event.status == 'confirm' }"></i> {{ event.confirm_count }}
        </a>
        <a href="#" ng-click="eCtrl.unconfirm(event.id)">
          <i class="fa fa-2x fa-check-circle-o" ng-class="{confirm: event.status == 'unconfirm' }"></i> {{ event.unconfirm_count }}
        </a>
      </div>
    </div>
  </div>
</div>